@use 'common';
@use 'layouts';
@use 'pages';
@use 'components';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: common.$colour-bg;
    color: common.$colour-text;
}

html,
body {
    height: 100%;
}
